<div id="login-div">
    <div class="mh0">POINT TRADE</div>
    <div><input class="mh1" id="inputName" type="text" placeholder="이름"></div>
    <div><input class="mh1" id="inputBirth" type="text" placeholder="생년월일 6자리"></div>
    <div><input class="mh1" id="inputHp" type="text" placeholder="휴대전화번호"></div>
    <div>
        <input class="mh1" id="buttonAuth" type="button" value="인증번호 받기">
        <input class="mh1" id="inputAuth" type="text" placeholder="인증번호입력">
    </div>
    <div> <input class="mh1" id="buttonLogin" type="button" value="시작하기"></div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        login();
    })
</script>
