<div>
    <table style="width:100%">
        <tr>
            <td width="30%" class="mh1">계좌번호</td>
            <td width="40%" id="myAccount" class="mh1"></td>
            <td width="30%" id="myName" class="mh1"></td>
        </tr>
    </table>
    <!--<div>계좌번호</div>-->
    <!--<div ></div>-->
    <!--<div ></div>-->
</div>
<div>
    <table style="width:100%">
        <tr>
            <td width="40%" class="mh1">총금액<div id="criteria">(해피포인트 기준)</div></td>
            <td width="60%" id="mytotal" class="mh1"></td>
        </tr>
    </table>
    <table id="blank-table" style="width:100%">
        <tr>
            <td class="mh1"> </td>
        </tr>
    </table>
    <!--<div>총금액</div>-->
    <!--<div id="total"></div>-->
</div>
<div>
    <table id="point-table" style="width:100%">
        <tbody>
        <!--<tr id="pointInfo1" class="pointTr">-->
        <!--<td width="40%" class="mh1">총금액<div id="tblRate1">(0:0)</div></td>-->
        <!--<td width="60%" id="tblPoint1" class="mh1">0</td>-->
        <!--</tr>-->
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        myBoard();
    })
</script>