<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PbasketMapper">

    <resultMap type="com.kook.pointrade.domain.PbasketDTO" id="pbasketDTO">
        <id column="pbasket_key" property="pbasketKey"/>
        <result column="user_key" property="userKey"/>
        <result column="card_number" property="cardNumber"/>
        <result column="balance" property="balance"/>
        <result column="point_key" property="pointKey"/>
    </resultMap>

    <insert id="insertUser" parameterType="userDTO">
        INSERT INTO PUSER (USER_KEY, NAME, BIRTH, HP)
        VALUES (DEFAULT, #{name}, #{birth}, #{hp})
    </insert>

    <select id="selectByNameAndBirthAndHp" parameterType="userDTO" resultMap="userDTO">
        SELECT USER_KEY, NAME, BIRTH, HP
        FROM PUSER
        WHERE NAME = #{name}
        AND BIRTH = #{birth}
        AND HP = #{hp}
    </select>

</mapper>