<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PbasketMapper">

    <resultMap type="com.kook.pointrade.domain.PbasketDTO" id="pbasketDTO">
        <id column="pbasket_key" property="pbasketKey"/>
        <result column="user_key" property="userKey"/>
        <result column="card_number" property="cardNumber"/>
        <result column="balance" property="balance"/>
        <result column="point_key" property="pointKey"/>

        <result column="point_name" property="pointName"/>
        <result column="criteria" property="criteria"/>
        <result column="current_rate" property="currentRate"/>

    </resultMap>

    <insert id="insertBasket" parameterType="pbasketDTO">
        INSERT INTO PBASKET (PBASKET_KEY, USER_KEY, CARD_NUMBER, BALANCE, POINT_KEY)
        VALUES (DEFAULT, #{userKey}, #{cardNumber}, #{balance}, #{pointKey})
    </insert>

    <select id="selectBasketByUserWithCriteria" parameterType="pbasketDTO" resultMap="pbasketDTO">
        SELECT  B.PBASKET_KEY,
                B.USER_KEY,
                B.CARD_NUMBER,
                B.BALANCE,
                B.POINT_KEY,
                P.NAME POINT_NAME,
                (SELECT CURRENT_RATE
                    FROM CURRENT_RATE
                    WHERE FROM_POINT_KEY = #{criteria}
                    AND TO_POINT_KEY = B.POINT_KEY) AS CURRENT_RATE
        FROM PBASKET B, PPOINT P
        WHERE B.POINT_KEY = P.POINT_KEY
        AND USER_KEY = #{userKey}
    </select>

</mapper>