<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TotalTradeMapper">

    <resultMap type="com.kook.pointrade.domain.TotalTradeDTO" id="totalTradeDTO">
        <id column="from_point_key" property="fromPointKey"/>
        <id column="to_point_key" property="toPointKey"/>
        <id column="rate_son" property="rateSon"/>
        <id column="rate_mom" property="rateMom"/>
        <result column="trade_code" property="tradeCode"/>
        <result column="amount" property="amount"/>
    </resultMap>

    <select id="selectTotalTradeByPointKey" parameterType="totalTradeDTO" resultMap="totalTradeDTO">
        SELECT  FROM_POINT_KEY
                ,TO_POINT_KEY
                ,RATE_SON
                ,RATE_MOM
                ,TRADE_CODE
                ,AMOUNT
        FROM TOTAL_TRADE
        WHERE FROM_POINT_KEY = #{fromPointKey}
        AND TO_POINT_KEY = #{toPointKey}
        ORDER BY RATE_SON DESC, RATE_MOM ASC
    </select>


    <select id="selectTotalTradeByPk" parameterType="totalTradeDTO" resultMap="totalTradeDTO">
        SELECT
            FROM_POINT_KEY
            ,TO_POINT_KEY
            ,RATE_SON
            ,RATE_MOM
            ,TRADE_CODE
            ,AMOUNT
        FROM TOTAL_TRADE
        WHERE FROM_POINT_KEY = #{fromPointKey}
        AND TO_POINT_KEY = #{toPointKey}
        AND RATE_SON = #{rateSon}
        AND RATE_MOM = #{rateMom}
    </select>

    <insert id="insertTotalTrade" parameterType="totalTradeDTO">
        INSERT
        INTO TOTAL_TRADE (
            FROM_POINT_KEY,
            TO_POINT_KEY,
            RATE_SON,
            RATE_MOM,
            TRADE_CODE,
            AMOUNT
        ) VALUES (
            #{fromPointKey},
            #{toPointKey},
            #{rateSon},
            #{rateMom},
            #{tradeCode},
            #{amount}
        )
    </insert>

    <update id="updateTotalTrade" parameterType="totalTradeDTO">
        UPDATE TOTAL_TRADE
        SET (TRADE_CODE, AMOUNT) = (#{tradeCode}, #{amount})
        WHERE FROM_POINT_KEY = #{fromPointKey}
        AND TO_POINT_KEY = #{toPointKey}
        AND RATE_SON = #{rateSon}
        AND RATE_MOM = #{rateMom}
    </update>


</mapper>